<div class="footer">
    <div>
        <img src="../../../assets/app_logo-transformed.png" alt="" class="logo">
        <h4>FeedIndia</h4>
    </div>
    <div><h3>Love everyone. Feed everyone.</h3></div>
    <div>
        <p>© 2024 FeedIndia. All rights reserved.</p>
        <p>Email: support&#64;feedindia.com</p>
        <p>Phone: +91 9113701232</p>
        <p>Address: Gyan Ganga Institute of Technology & Science, Bargi Hills, Jabalpur, India</p>
        <p>Instagram: &#64;feedindia</p>
    </div>
</div>
