<div class="banner">
    <h2 class="banner-heading">Feed the hungry!!</h2>
    <p class="banner-text">
        FeedIndia is a unified platform which facilitates food and emergency support by connecting the govt., non-govt
        entities, individual donors, volunteers and the ones in need all across India.
    </p>
    <div class="banner-btn-container">
        <button class="banner-btn banner-btn-request" routerLink="/request/food">Request Food</button>
        <button class="banner-btn anner-btn-donate" routerLink="/donate">I want to help</button>
        <button class="banner-btn" (click)="apicall()">view Request</button>
    </div>
</div>

<h2 class="heading">Know someone who needs food/dry ration?</h2>

<div class="share">
    <div class="share-details">
        <img src="../../../assets/whatsapp.png" alt="" class="icon" />
        <div class="share-text">
            <h5 class="share-text-heading orange">Message us on WhatsApp at +91 9113480009</h5>
            <p class="share-text-para">You can talk to our volunteers who will verify the request, and try to help the
                help-seeker. We interact with government bodies, NGOs & our donors to do the needful.</p>
        </div>
    </div>

    <div class="share-details">
        <img src="../../../assets/form.png" alt="" class="icon" />
        <div class="share-text">
            <h5 class="share-text-heading orange">Fill the short form</h5>
            <p class="share-text-para">Give us the details about the request. It will only take 30 seconds.
                Our volunteers will connect with the help seeker within 24 hours.</p>
        </div>
    </div>

    <div class="share-details">
        <img src="../../../assets/mail.png" alt="" class="icon" />
        <div class="share-text">
            <h5 class="share-text-heading orange">Enter your location</h5>
            <p class="share-text-para">Just enter your location , click on the marker to view the verified available
                food in your area and you can contact them directly.</p>
        </div>
    </div>
</div>

<h2 class="heading">Do you want to join our efforts?</h2>


<div class="join">
    <div class="join-box">
        <img src="../../../assets/add-user.png" alt="" class="icon">
        <div class="join-box-text">
            <h3 class="join-box-text-heading orange">Sign up as volunteer</h3>
            <p class="join-box-text-para">Sign up as a volunteer and help make a difference. You can either volunteer
                with us directly (in resolving cases, tech management of the portal, social media management etc.), or
                we can get you in touch with any of our partner organisations if they need a volunteer.</p>
        </div>
    </div>

    <div class="join-box">
        <img src="../../../assets/building.png" alt="" class="icon">
        <div class="join-box-text">
            <h3 class="join-box-text-heading orange">Food distribution initiative</h3>
            <p class="join-box-text-para">If you are an NGO, a citizen group or even an individual who is helping people with food, join hands with us. We will connect you to donors, volunteers and help seekers.</p>
        </div>
    </div>
</div>

<h2 class="heading">How you can help as donor?</h2>
<div class="heading-small">FeedIndia does not directly accept donations. We connect you to people who are in need.</div>

<div class="heading-small bold">You can sign up for donating cooked food, dry ration or money.</div>

<div class="heading-small">We will assist you in reaching out to a verified person in need and in a transparent transaction.</div>


<div class="instruction-container">
    <div class="steps">
        <div class="step">1</div>
        <div class="line"></div>
        <div class="step">2</div>
        <div class="line"></div>
        <div class="step">3</div>
    </div>
    <div class="instruction-container-content">
        <div class="instruction-box">
            <img src="../../../assets/user.png" alt="" class="icon">
            <h4 class="orange">Sign up as donor</h4>
            <p class="">Fill the form. It takes less than 30 seconds.
                Tell us how many ration kits you can pledge.</p>
        </div>
    
        <div class="instruction-box">
            <img src="../../../assets/user.png" alt="" class="icon">
            <h4 class="orange">We contact you when someone needs help</h4>
            <p class="">We only ask our donors for help if no other NGO or food distribution initiative is able to provide support.</p>
        </div>
    
        <div class="instruction-box">
            <img src="../../../assets/24-hour.png" alt="" class="icon">
            <h4 class="orange">You help people directly</h4>
            <p class="">We will assist you in ordering a ration kit & delivering it directly to the help seeker</p>
        </div>
    </div>
</div>


<h2 class="heading">Founder</h2>

<div class="founder">
    <img src="../../../assets/photo.png" alt="" class="photo">
    <div class="founder-detail">
        <h3 class="orange">Shivam Saurabh</h3>
        <p class="position bold">PAT at Cognizant</p>
        <p class="founder-detail-para">I am a Software Engineer from Bihar with a passion for helping the underprivileged.</p>
        <p class="founder-detail-para">Most of us are ready to serve the people in real need, but are unable to do so because of poor connectivity between donors, charity organisations, volunteers and help seekers!</p>
        <p class="founder-detail-para">With FeedIndia, we are trying to solve that problem and we need your help.</p>
        <p class="bold founder-detail-para">I ask you to join me in my fight against hunger.</p>
    </div>
</div>
