

app-dashboard{
    height: 100vh;
}

app-table{
    margin-top: 5vh;
    margin-left: 1vw;
    height: 90vh;
    overflow-x: auto;
    overflow-y: auto;
    border-radius: 8px;
}
app-table::-webkit-scrollbar {
    display: none;
}

.show-btn {
    position: fixed;
    left: 0;
    z-index: 1000;

}

.button{
    outline: none;
    border: none;
    background: inherit;
}


@media (max-width: 600px) {

    app-dashboard{
        position: fixed;
        z-index: 9;
    }

    img{
        width: 8rem;
        height: 100%;
    }
}